<mat-card>
  <mat-card-title>Enfin posé·e·s !</mat-card-title>
  <mat-card-content>
    <div class="text">
      <p>Après un an et demi de voyage et plusieurs mois, à squatter chez nos parents (merci à elleux!) et dans un appart trop cher de Lausanne, nous avons enfin trouvé un "chez nous".<p>

      <p>
        Nous habitons désormais la petite commune bucolique de <b>Bretonnières</b>, située entre Lausanne et Vallorbe.
        On y dénombre environ 250 habitants, une bonne cinquantaine de vaches et d'innombrables chemins de randonnée.
        Nous sommes un peu paumé·e·s, mais pourtant, seulement à 35 minutes de Lausanne en train.
      </p>

      <p>Nous souhaitons donc vous inviter à notre <b>crémaillère</b>, le <b>samedi 25 août</b> dès <b>10 heures</b>.</p>
      <p>Adresse : <a href="https://www.openstreetmap.org/directions?from=&to=46.71351%2C6.47248#map=19/46.71347/6.47211" target="_blank"> Rue du Battoir 2, 1329 Bretonnières</a></p>

      <h3>Au programme:</h3>
      <ul>
        <li>Acceuil énergique et sous une foule de léchouilles de notre mascotte à poils, Martel (un chien)</li>
        <li>Visite autonome de la propriété et de ses multiples dépendances (jardin et étable)</li>
        <li>Repas "canadien" <span class="vege">végétarien</span> auquel nous vous invitons à contribuer selon l'envie</li>
        <li>Création d'une montagne de dons (voir la liste de voeux plus bas)</li>
      </ul>

      <p> Ce serait chouette si vous pouviez nous dire si vous venez, vers quelle heure et si vous êtes accompagné·e·s :)
        <a href="mailto:bastien.noverraz@gmail.com"> écrivez-nous</a>  !</p>

    </div>
    <div class="images">
      <a href="assets/images/bretonnieres1.jpeg" target="_blank"><img src="assets/images/small-bretonnieres1.jpeg" /></a>
      <a href="assets/images/bretonnieres2.jpeg" target="_blank"><img src="assets/images/small-bretonnieres2.jpeg" /></a>
    </div>
  </mat-card-content>
</mat-card>
