mat-card {
  background-color: rgba(255,255,255,0.7);
}

mat-card-content {
  display: flex;
  flex-wrap: wrap;
}

.text {
  flex-grow: 1;
  margin-right: 1em;
}

.images {
  flex-grow: 1;
  width: 100px;
  align-content: center;
  display: flex;
  justify-content: space-around;
}

.images img {
  margin: 0.5em;
  height:10em;
}

.vege {
  color: #16aa12;
  font-weight: bold;
}

:host {
  display: block;
  margin-top: 1em;
}
