<mat-card>
  <mat-card-title>Une crémaillère?</mat-card-title>
  <mat-card-content>
    <div class="text">
      <p>Et oui, après 1 an et demi de voyage et plusieurs mois de recherche, nous avons finalement trouvé un chez nous!<p>
      <p>Ce chez nous ce trouve dans un petit village (que d'aucun oserait décrire comme "paumé") nommé <b>Bretonnières</b>.</p>
      <p>Situé entre Lausanne et Vallorbe, ce charmant petit village de 250 habitants (dont une quarantaine de vaches) et devenu notre paradis.</p>
      <p>C'est pourquoi nous vous invitons le <b>samedi 22 août 2018</b> à venir nous dire bonjour!</p>
    </div>
    <div class="images">
      <img src="../../assets/images/bretonnieres1.jpeg" />
      <img src="../../assets/images/bretonnieres2.jpeg" />
    </div>
  </mat-card-content>
</mat-card>
