@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body {
  background-image: url("assets/background/paper-1.jpg");
  padding: 2em;
}

a {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  color: darkred;
  text-decoration: none;
}
