<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-chip-list>
        <mat-chip color="primary" class="chip" *ngIf="smartphone">{{wishesToComplete}}</mat-chip>
      </mat-chip-list>
      <span class="title">Liste de voeux</span>
    </mat-panel-title>
    <mat-panel-description *ngIf="!smartphone">Il nous manque encore {{wishesToComplete}} trucs-muchs!</mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    Comme nous venons d'emménager, il nous manque tout un bric-à-brac d'objets
    hétéroclites.
  </p>

  <p>
    Nous nous sommes dit que peut-être vous auriez notre bonheur qui traîne inusité dans vos placards et fonds de tiroirs.
    Alors nous voulons jouer un jeu avec vous et voir si nous arrivons à compléter notre inventaire d'outillage de
    maison avec ce que vous avez chez vous.
  </p>

  <p>Les règles du jeu de la liste de voeux sont donc les suivantes:</p>

  <ul>
    <li>vous <b>n'achetez rien</b></li>
    <li>vous nous donnez <b>seulement</b> ce que vous n'utilisez <b>pas/plus</b></li>
  </ul>

  <p>Si vous avez quelque chose sur cette liste <a href="mailto:bastien.noverraz@gmail.com">dites-le nous</a> et on la mettra à jour!</p>

  <mat-list>
    <mat-list-item *ngFor="let item of wishes">
      <div matLine class="item-title" *ngIf="smartphone">{{item.name}}</div>
      <div matLine *ngIf="smartphone">
        <div class="item-found" *ngIf="item.status==Status.FOUND">Trouvé!</div>
        <div class="item-found" *ngIf="item.status==Status.MISSING">Pas encore trouvé</div>
        <div class="item-found" *ngIf="item.status==Status.MAYBE">Partiellement trouvé</div>
      </div>
      <div class="item-content" *ngIf="!smartphone">
        <div class="item-title">{{item.name}}</div>
        <div>
          <div class="item-found" *ngIf="item.status==Status.FOUND">Trouvé!</div>
          <div class="item-found" *ngIf="item.status==Status.MISSING">Pas encore trouvé</div>
          <div class="item-found" *ngIf="item.status==Status.MAYBE">Partiellement trouvé</div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
